.navbar{
    display: flex;
    justify-content: space-between;
    font-family: cursive;
    align-items: center;
    background-color: black;
}
.navbar-left{
    margin-left: 50px;
    color: #fff;
}
.navbar-left a{
    text-decoration: none;
    color: #fff;
}
.navbar-left span{
    color: #f34f67;
}
.navbar-middle{
    display: flex;
}
.navbar-middle a{
    margin: 0px 45px;
    text-decoration: none;
    color: #fff;
}
.navbar-middle a:hover{
    color:#f34f67;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    margin: 20px 90px;
}
.navbar-right button{
    margin: 0px 20px;
    font-family: cursive;
    cursor: pointer;
}
.navbar-right-signIn button{
    background-color: transparent;
    border: none;
    padding-bottom: 4px;
    color: #fff;
    font-size: 17px;
    opacity: 0.8;
    border-bottom: #fff 2px solid;
}
.navbar-right-signIn button:hover{
    color: #f34f67;
    opacity: 1;
}
.navbar-right-register button{
    border: none;
    border-radius: 12px;
    padding: 7px 20px;
    font-weight:700;
}
.navbar-right-register button:hover{
    color: #fff;
    background-color: #f34f67;
}