.navbar{
    display: flex;
    background-color: none;
    justify-content: space-between;
}
.navbar-left{
    display: flex;
    margin: 30px 80px;
}
.navbar-left a{
    margin: 30px;
    text-decoration: none;
}
.navbar-right{
    display: flex;
    margin: 30px 80px;
}
.navbar-right button{
    margin: 0px 20px;
}
.navbar-right-signIn{
    background-color: transparent;
    border: none;
}