.profilePage{
    display: flex;
    flex-direction: column;
    font-family: cursive;
    background-image: url(../../assets/dashboard_background.webp);
    background-position: center;
    height: 100vh;
}
.profilePage-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
.profilePage-bottom-left{
    margin-left: 50px;
}
.profilePage-bottom-right{
    display: flex;
    align-items: center;
}
.profilePage-bottom-right-left{
    font-size: 24px;
    margin-right: 100px;
}
.profilePage-bottom-right-left div{
    margin-top: 20px;
}
.profilePage-bottom-right-left input{
    margin-left: 10px;
    height: 24px;
    width: 220px;
    font-size: 16px;
    border: none;
    background-color: rgba(211, 211, 211, 0.685);
    border-bottom: 1px #f34f67 solid;
    border-radius: 3px;
}
.profilePage-bottom-right-left input:hover{
    background-color: rgb(211, 211, 211);
}
.profilePage-bottom-right-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profilePage-bottom-right-right img{
    aspect-ratio: 1/1;
    height: 300px;
    margin: 0px 120px;
    border-radius: 175px;
}
.profilePage-bottom-right-right button{
    height: 32px;
    width: 60px;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    font-size: 15px;
    font-family: cursive;
    font-weight: 600;
    cursor: pointer;
    background-color: yellow;
}
.profilePage-bottom-right-right button:hover{
    background-color:rgb(248, 248, 73);
}