.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../../assets/dashboard_background.webp);
    background-position: center;
    height: 100vh;
}
.dashboard-bottom{
    display: flex;
    justify-content: center;
}